/*=== global ===*/
html,body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
}
/*=== layout ===*/
.edit-layer{
  z-index:1;
}
.header,.footer {
  width: 100%;
  position: absolute;
  background: #F6F6F6;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.header {
  height: 25px;
  top: 0;
  padding-left:5px
}
.footer {
  height: 23px;
  bottom: 0;
}
.backbone,.fill {
  width: 100%;
  position: absolute;
  background: #FFF0FF;
  height: auto;
}
.backbone {
  top: 25px;
  bottom: 23px;
}
.fill {
  border-bottom: 0;
  top: 0;
  bottom: 0;
}
.right-sep{
  border-right: 1px solid #DCDCDC;
  padding-right: 5px;
}
.left-sep{
  border-left: 1px solid #DCDCDC;
  padding-left: 2px;
}
.btn-made {
  width: 24px;
  height: 24px;
  border-radius: 0;
  text-align: center;
  vertical-align: central;
  border: 0;
  color: black;
  font-size: 14px;
}
.btn-made:focus,
.btn-made.focus {
  color: #CD9B1D;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-made:hover {
  color: #CD9B1D;
  background-color: #e6e6e6;
}

/* === dragful ===*/
#left,#right,#middle{ 
  height:auto;
  position:absolute;
} 
#left{
  width:350px; 
} 
#middle{ 
  width:6px; 
  border-left: 1px lightgray solid;
  background: #F1F1F5;
  left:350px;
} 
#middle:hover{ 
  cursor:w-resize;
} 
#right{
  right:0; 
  left:356px; 
  width:auto;
}

/* === core ===*/
.writepad,.showpad {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y:visible;
  border-color: #FFFFFF;
}
.writepad {
  resize: none;
  font-family: 'Ubuntu Mono', Consolas;
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 5px;
  line-height: 120%;
}
/*.writepad:focus{
  outline:none;
}*/
.showpad {
  background: #F1F1F5;
}

.item, .show-layer, .slide-font{
  background-color: #293038;
  background-size: 100% 100%;
  font-family: Ubuntu, Gill Sans, 华文细黑;
  color: #FFFFFF;
}

.item {
  margin: 20px;
  margin-left: 14px;
  position: relative;
  height: 0;
  padding: 5% 5% 62.5% 5%;  /*16:9	56.25%, 16:10 62.5% 保持长宽比*/
  text-align: left;
  overflow: hidden;
}

/* === showcase ===*/
.show-layer {
  position: absolute;
  width: 100%;
  height: 100%; 
  /*padding: 5% 10% 5% 10%;*/
  top: 0; 
  bottom: 0;
  z-index:10;
}

.showhere {
  margin: 0 auto;
  padding: 5% 10% 5% 10%;
  overflow: hidden;
}

.page-number {
  width: 100%;
  height: 30px;
  position:absolute;
  color: white;
  font-family: Ubuntu, Consolas;
  bottom: 0;
  text-align: center;
  z-index:10;
}

/* === preferences ===*/
.fontall{
  font-family:  Ubuntu, 'Segoe UI';
  font-size: 13px;
}

.tabview{
  height: 32px;
  margin-top: -6px;
  color: black;
}

/* === status ====*/
.status-block{
  width:auto;
  height:20px;
  float:right;
  line-height:20px;
  text-align:center;
  padding-right: 5px;
  padding-left: 5px;
}

.status-block:hover{
  background-color: #e6e6e6;
  cursor:default;
}

.btn-bug{
   height: 22px; 
   width: 22px;
}

