/* theme of slider*/
.codespan, .codeblock{
  background: #474949;
  color: #d1d9e1;
}

.codeblock{
  border: 0;
  display: block;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.blockquote{
  font-size:18px;
}

.quote{
  font-size:13px;
  color:lightgray;
}

table.madetable {
  min-width: 360px;
  border-collapse: collapse;
  margin: 0 auto;
}
table.madetable th{
  border: 1px solid #293038;
  padding: 8px;
  background-color: #464c53;
}
table.madetable td {
  border: 1px solid #293038;
  padding: 8px;
  background-color: #474949;
}

/* theme of edotor*/
.CodeMirror .CodeMirror-placeholder { color: #d4d4d4; }

/* theme of main */
.btn-bug{
  color: #8B3A3A;
}
